body {
    background-color: crimson;
    text-align: center;
}

.container-fluid {
    background-color: black;
}

#form-container {
    background-color: white;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 30px;
    box-shadow: 3px 3px 5px;
}

#results-container {
    background-color: white;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 30px;
    box-shadow: 3px 3px 5px;
    
    }

p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
}

h1 {
    font-size: 22px;
    font-weight: bold;
}

h2 {
    color: darkgray;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

label {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

#select-city {
    background-color: crimson;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#cityinfo-div {
    font-size: 16px;
    margin-bottom: 5px;
}

footer{
    background-color: black;
    height: 40px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 40px;
}

.footer-text{
    text-align: center;
    color: darkgray;
    padding-top: 10px;
    font-size: 12px;
}

#results-container {
    margin-bottom: 40px;
}

#play-again {
    background-color: crimson;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

/* Attributions for Background Images:

Clear- <a href="https://www.vecteezy.com/free-vector/background">Background Vectors by Vecteezy</a>

Thunderstorm - <a href="https://www.vecteezy.com/free-vector/design">Design Vectors by Vecteezy</a>

Cloud - <a href="https://www.vecteezy.com/free-vector/seamless">Seamless Vectors by Vecteezy</a>

Drizzle - <a href="https://www.vecteezy.com/free-vector/abstract">Abstract Vectors by Vecteezy</a>

Rain - <a href="https://www.vecteezy.com/free-vector/rain">Rain Vectors by Vecteezy</a>

Snow - <a href="https://www.vecteezy.com/free-vector/action">Action Vectors by Vecteezy</a>

*\